* {
  font-family: Karla;
}

header h1 {
  color: #F4CE14;
}

.main-menu {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-item-grid {
  display: flex;
  justify-content: center;
}

.item-details {
  display: flex;
  justify-content: space-around;
}

.item-price {
  color: #ee9972;
  font-weight: 600;
}

.item-desc {
  padding: 5px;
  height: 100px;
}

.delv-msg, .item-title {
  font-weight: 800;
}

.menu-item {
  width: 240px;
  margin: 0 20px 5px 20px;
  background-color: #edefee;
  text-align: center;
  transition: 1s opacity;
}

.menu-item:hover {
  opacity: 0.8;
}

.menu-item img {
  height: 200px;
  width: 240px;
  object-fit: cover;
  border-radius: 5px;
}

.main-menu h1 {
  font-family: Markazi;
}

.main-menu button {
  margin-left: 40px;
  height: 50px;
}

header {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #495E57;
  color: white;
  padding: 0 20px 0 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
}

.booking-form {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.form-fields {
  background-color: #495E57;
  padding: 150px;
}

header img {
  height: 270px;
  margin: 0 0 0 20px;
  border-radius: 15px;
}

header p {
  max-width: 600px;
}

.button-styles {
  margin-bottom: 5px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #F4CE14;
  font-weight: 700;
  transition: 0.5s background-color, color;
}

.button-styles:hover {
  background-color: #495E57;
  color: #F4CE14;
  border: 1px solid #F4CE14;
  cursor: pointer;
}

.footer-text {
  text-align: center;
}

.footer-text p {
  font-size: small;
}

nav ul li {
  display: flex;
  list-style: none;
}

nav ul li a {
  padding-right: 12px;
  text-decoration: none;
  color: black;
}

#header-sec {
  display: flex;
  background-color: #495E57;
}

@media screen and (max-width: 500px){
  nav {
    display: block;
    text-align: center;
  }

  nav ul {
    justify-content: center;
  }

  header div {
    align-items: center;
  }

  .menu-item {
    margin: 0 10px 5px 10px;
    width: 110px;
    font-size: 10px;
  }

  .menu-item img {
    height: 75px;
    width: 110px;
  }
  
  nav ul li a {
    font-size: 12px;
    padding-right: 7px;
  }
}

@media screen  and (min-width: 501px) and (max-width: 800px){

  .menu-item {
    margin: 0 10px 5px 10px;
    width: 150px;
    font-size: 12px;
  }

  .menu-item img {
    height: 100px;
    width: 150px;
  }

  nav ul li a {
    font-size: 12px;
    padding-right: 7px;
  }

}